@import "vars";

body {
    font-family: Arial, sans-serif;
    line-height: 22px;
}

.header {
    border-bottom: $thin_line;
    /*position: sticky;
    top: 0;
    background: white;*/
}

.search-bar {
    display: flex;
    height: 50px;
}

.google-logo-img {
    margin: 8px;
    height: 34px;
    width: auto;
}

input[type="text"] {
    font-size: 16px;
    border: none;
    margin: 8px;
    padding: 0;
    height: 60%;
}

.search {
    height: 100%;
}

.search-form {
    margin: 4px;
    height: 80%;
    border: $thin_line;
    border-radius: 25px;
}

button {
    padding: 0;
    background: none;
    border: none;
    font-size: 16px;
    margin-right: 8px;
    color: cornflowerblue;
}

.nav-bar {
    display: flex;
    height: 34px;
    padding-left: 130px;

    a {
        margin: 5px 10px 0 0;
        padding: 5px;
        font-size: 13px;
        color: dimgray;
    }

    a.active {
        color: cornflowerblue;
        border-bottom: 3px solid cornflowerblue;
    }
}


i {
    margin: 0 2px 0 2px;
}